/* 

****************************************************************
AUTHOR : Smriti 
Date : 29-04-2023
****************************************************************

*/

.main {
  height: 100%;
}
.App {
  height: 100%;
}
